# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd
import time

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
#your code here
df = pd.DataFrame()
for i in range(10):
    inf = pd.read_csv(f'Data/Students_info_{i}.csv')
    mark = pd.read_csv(f'Data/Students_marks_{i}.csv')
    students = pd.merge(inf, mark, on='index')
    df = pd.concat([df, students])
df.set_index(df['index'], inplace=True)
df.tail()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
index,,,,,,,,,,
995,995,female,group E,master's degree,standard,completed,group10,88,99,95
996,996,male,group C,high school,free/reduced,none,group10,62,55,55
997,997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,998,female,group D,some college,standard,completed,group10,68,78,77
999,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
#your code here
df.drop('index', axis=1, inplace=True)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
index,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 3. Выведите на экран размеры полученной таблицы

In [4]:
# your code here
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [5]:
# your code here
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [6]:
# your code here
df.isnull().any().any()

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [7]:
# your code here
print(df[['math score', 'reading score', 'writing score']].mean())

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [8]:
# your code here
df.groupby(['test preparation course']).mean()

C:\Users\Амир\AppData\Local\Temp\ipykernel_37016\4281376576.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['test preparation course']).mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [9]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [10]:
df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"},
          inplace=True)

**Зафиксируем минимальный балл для сдачи экзамена**

In [11]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [12]:
print(sum(df['math score'] >= passmark) / len(df))
print(len(df[(df['test preparation'] == 'completed') & (df['math score'] >= passmark)]) / len(
    df['test preparation'] == 'completed'))
print(len(df[(df['test preparation'] == 'none') & (df['gender'] == 'female') & (df['math score'] < passmark)]) / len(
    df[(df['test preparation'] == 'none') & (df['gender'] == 'female')]))

0.865
0.33
0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [13]:
t = time.time()
print(df.groupby('race/ethnicity')['reading score'].mean())
print('time:', time.time() - t)
t = time.time()
print(df.groupby('education')['writing score'].min())
print('time:', time.time() - t)

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
time: 0.008522510528564453
education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
time: 0.0030007362365722656

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [14]:
from collections import defaultdict

t = time.time()
di = {'group B': [0, 0], 'group C': [0, 0], 'group A': [0, 0], 'group D': [0, 0], 'group E': [0, 0]}
for i in range(len(df)):
    di[df['race/ethnicity'][i]][0] += df['reading score'][i]
    di[df['race/ethnicity'][i]][1] += 1
for i in sorted(di.items(), key=lambda x: x[0]):
    print(i[0], i[1][0] / i[1][1])
print('time:', time.time() - t)
print()

t = time.time()
di = {"bachelor's degree": 100, 'some college': 100, "master's degree": 100, "associate's degree": 100,
      'high school': 100, 'some high school': 100}
# for i in df['education'].unique():
#     di[i] = 100
for i in range(len(df)):
    di[df['education'][i]] = min(di[df['education'][i]], df['writing score'][i])

for i in sorted(di.items()):
    print(*i)
print('time:', time.time() - t)

group A 64.67415730337079
group B 67.35263157894737
group C 69.10344827586206
group D 70.03053435114504
group E 73.02857142857142
time: 0.019030332565307617

associate's degree 35
bachelor's degree 38
high school 15
master's degree 46
some college 19
some high school 10
time: 0.018144845962524414

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [15]:
# your code here
df.pivot_table(index=['gender', 'education'], values=['math score', 'reading score', 'writing score'], aggfunc='mean')

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [16]:
def countpass(x):
    global c, f
    if x >= passmark:
        c += 1
        return 'P'
    f += 1
    return 'F'
c = 0
f = 0
df['Math_PassStatus'] = df['math score'].apply(countpass)
print(c, f)
c = 0
f = 0
df['Reading_PassStatus'] = df['reading score'].apply(countpass)
print(c, f)
c = 0
f = 0
df['Writing_PassStatus'] = df['writing score'].apply(countpass)
print(c, f)
c = 0
f = 0
# df['Math_PassStatus'][df['math score'] < passmark] = 'F'
# df['Math_PassStatus'][df['math score'] >= passmark] = 'P'

df

865 135
910 90
886 114

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
index,,,,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P
...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P
996,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P
997,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P
998,female,group D,some college,standard,completed,group10,68,78,77,P,P,P
999,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [17]:
def countpass(x):
    global c
    if min(x) >= passmark:
        c += 1
        return 'P'
    return 'F'
c = 0
df['OverAll_PassStatus'] = df[['math score', 'writing score', 'reading score']].apply(countpass, axis=1)
print(c)
df

812

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
index,,,,,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P,P
996,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P,P
997,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P,P
998,female,group D,some college,standard,completed,group10,68,78,77,P,P,P,P
999,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P,P

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [18]:
def GetGrade(average_mark):
    if 90 < average_mark:
        return 'A'
    if 80 <= average_mark:
        return 'B'
    if 70 <= average_mark:
        return 'C'
    if 60 <= average_mark:
        return 'D'
    if 50 <= average_mark:
        return 'E'
    return 'F'

df['Grade'] = df[['math score', 'writing score', 'reading score']].apply(lambda x: GetGrade(x.mean()), axis=1)
display(df)
df['Grade'].value_counts()

# your code here

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
index,,,,,,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P,P,A
996,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P,P,E
997,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P,P,D
998,female,group D,some college,standard,completed,group10,68,78,77,P,P,P,P,C
999,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P,P,B

C    261
D    256
E    182
B    148
F    103
A     50
Name: Grade, dtype: int64